apiVersion: agent.octopus.com/v1beta1
kind: ClusterWorkloadServiceAccount
metadata:
  labels:
    app.kubernetes.io/name: octopus-permissions-controller
    app.kubernetes.io/managed-by: kustomize
  name: clusterworkloadserviceaccount-sample
spec:
  scope:
    spaces:
      - default
  permissions:
    permissions:
      - verbs:
          - get
          - list
          - watch
        apiGroups:
          - ""
        resources:
          - pods
          - services
      - verbs:
          - get
          - list
          - watch
        apiGroups:
          - apps
        resources:
          - deployments
