apiVersion: agent.octopus.com/v1beta1
kind: WorkloadServiceAccount
metadata:
  labels:
    app.kubernetes.io/name: octopus-permissions-controller
    app.kubernetes.io/managed-by: kustomize
  name: workloadserviceaccount-test
spec:
  scope:
    spaces:
      - default
  permissions:
    permissions:
      - verbs:
          - get
          - list
          - create
          - update
          - delete
          - patch
        apiGroups:
          - apps
        resources:
          - deployments
          - replicasets
          - statefulsets
          - daemonsets
      - verbs:
          - get
          - list
          - create
          - update
          - delete
          - patch
        apiGroups:
          - ""
        resources:
          - namespaces
          - services
          - pods
      - verbs:
          - get
          - list
          - create
          - update
          - delete
          - patch
        apiGroups:
          - "discovery.k8s.io"
        resources:
          - endpointslices
